body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px; /* Aumenta el ancho máximo del contenedor */
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.add-note-btn {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.add-note-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.toolbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

#search-btn {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #007BFF;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #007BFF;
    color: #ffffff;
}

.note {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    transition: box-shadow 0.3s;
}

.note:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.note.completed {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.note-details {
    margin: 10px 0;
}

.note-title,
.note-description,
.note-priority,
.note-due-date {
    color: #000000; /* Cambia el color de la fuente a blanco */
}

.note-title::placeholder,
.note-description::placeholder {
    color: #000000; /* Cambia el color del texto del placeholder a blanco */
}

.note-title {
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: none;
    width: 100%;
    outline: none;
}

.note-description {
    margin-top: 10px;
    border: none;
    background: none;
    width: 100%;
    outline: none;
    resize: none;
}

.note-priority,
.note-due-date {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.note-controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.note-controls button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.note-controls button:hover {
    background-color: #0056b3;
}

.collapsed .note-description,
.collapsed .note-details,
.collapsed .note-controls .complete-note-btn,
.collapsed .note-controls .edit-note-btn {
    display: none;
}

.collapsed .note-controls .expand-note-btn {
    display: inline-block;
}

.expand-note-btn {
    display: none;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .toolbar {
        flex-direction: column;
        align-items: flex-start;
    }

    #search-input {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    #search-btn, a {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

.note-controls .toggle-collapse-btn {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.note-controls .toggle-collapse-btn:hover {
    background-color: #0056b3;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px; /* Aumenta el espacio entre los días */
    margin-top: 20px;
    width: 100%;
}

.calendar-day {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 200px; /* Aumenta la altura de los días del calendario */
}

.calendar-day h3 {
    margin: 0 0 10px 0;
    font-size: 18px; /* Aumenta el tamaño de la fuente para el número del día */
}

.calendar-note {
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px; /* Aumenta el tamaño de la fuente de las notas */
}

body {
    transition: background-color 0.3s, color 0.3s;
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.switch-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

.switch-label {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007BFF;
}

input:checked + .slider:before {
    transform: translateX(20px);
}
